*{
  padding: 0%;
  margin: 0%;
  /* background-color: wheat; */
}

.language {
  display: inline;
}
.heading {
  font-size: 20px;
}
#source {
  width: 100%;
  background: floralwhite;
  height: 50vh;
  font-size: 15px;
  resize: vertical;
}
#input {
  background-color:floralwhite;
  width: 45.6%;
  height: 17vh;
  resize: vertical;
  font-size: 17px;
}
#output {
  background: floralwhite;
  width: 50%;
  height: 50%;
  position: fixed;
  top: 4.7%;
  font-size: 18px;
  right: 0;
  resize: none;
  /* margin: 100px; */
}
.language {
  width: 150px;
}


